.collection-container {
  background-color: #151515;
  border-left: 1px solid #bbb;
  min-height: 100vh;
  display: inline-block;
  position: fixed;
  padding: 0.5vw;
  margin-top: .47em;
  top: auto;
  right: 0;
  height: 100%;
  width: 19%;
  align-self: flex-start;
  .collection {
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
    overflow: hidden;
    justify-content: flex-end;
    .gif-wrap {
      position: relative;
      .gif-button {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 30;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
      .gif {
        z-index: 20;
        img {
          display: inline-block;
          width: auto;
        }
      }
    }

  }
}